/* Shared Design System - Team Manager */
@import "./_variables.css";
@import "./_views.css";
@import "./_controls.css";
@import "./_buttons.css";
@import "./_layout.css";
@import "./_games.css";
@import "./_lineup.css";
@import "./_stats.css";
@import "./_positions.css";
@import "./_loading.css";
@import "./_modal.css";
@import "./_forms.css";
@import "./_notifications.css";
@import "./_devtools.css";
@import "./_utilities.css";
@import "./_sharing.css";
@import "./_light-theme.css";
@import "./_wizard.css";
@import "./_help.css";
